{"auths":{"https://docker.pkg.github.com":{"username":"xmlking","password":"15650cad4e8a6602284255f7caf76134eb977b45","email":"xmlking@gmail.com","auth":"eG1sa2luZzoxNTY1MGNhZDRlOGE2NjAyMjg0MjU1ZjdjYWY3NjEzNGViOTc3YjQ1"}}}
