commonLabels:
  app.kubernetes.io/name: envoy
  app.kubernetes.io/instance: envoy-abcxzy
  app.kubernetes.io/component: infra
  app.kubernetes.io/part-of: micro-starter-kit
  app.kubernetes.io/managed-by: kustomize
commonAnnotations:
  org: acmeCorporation

resources:
  - deployment.yaml

configMapGenerator:
  - name: envoy-config
    files: ["envoy.yaml"]

vars:
  - name: ENVOY_SRV_ENDPOINT
    objref:
      kind: EtcdCluster
      name: etcd-cluster
      apiVersion: etcd.database.coreos.com/v1beta2
    fieldref:
      fieldpath: metadata.name
